# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv/
env/
venv/
*.egg-info/
dist/
build/
project_env/

# Jupyter
.ipynb_checkpoints

# PyTorch
*.pt
*.pth
*.ckpt

# Hydra / OmegaConf
outputs/
logs/
wandb/
comet/
*.hydra/

# Dataset / data
data/
datasets/
*.csv
*.zip

# VSCode / IDE
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# Other temp files
*.log
*.tmp
*.swp
